<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikeStore</title>




    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* FontAwesome core CSS *@
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.14.0-web/css/all.css">
    <!-- Additional CSS Files template -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    @* Other *@
    <link rel="stylesheet" href="~/css/template/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/css/template/owl.css">
    



    <!-- Favicons -->
    @*<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
        <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
        <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">*@
    @*<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">*@
    <meta name="theme-color" content="#563d7c">


    @*<script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/Scripts/HomeJs/Home.js"></script>*@
    <!-- Additional Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Scripts/HomeJs/Home.js"></script>
    <script src="~/lib/fontawesome-free-5.14.0-web/js/fontawesome.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.js"></script>
  

    <!-- Additional Scripts template -->
    <script src="~/js/Scripts/template/custom.js"></script>
    <script src="~/js/Scripts/template/owl.js"></script>
    <script src="~/js/Scripts/template/slick.js"></script>
    <script src="~/js/Scripts/template/isotope.js"></script>
    <script src="~/js/Scripts/template/accordions.js"></script>


</head>
<body>


    @RenderBody()


    <footer class="border-top footer text-muted">
        Footer
    </footer>

    @RenderSection("scripts", required: false)



</body>
</html>
