

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikeStore</title>




    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* FontAwesome core CSS *@
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.14.0-web/css/all.css">
    <!-- Additional CSS Files template -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    @* Other *@
    <link rel="stylesheet" href="~/css/template/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/css/template/owl.css">




    <!-- Favicons -->
    @*<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
        <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
        <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">*@
    @*<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">*@
    <meta name="theme-color" content="#563d7c">


    @*<script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/Scripts/HomeJs/Home.js"></script>*@
    <!-- Additional Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Scripts/HomeJs/Home.js"></script>
    <script src="~/lib/fontawesome-free-5.14.0-web/js/fontawesome.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.js"></script>


    <!-- Additional Scripts template -->
    <script src="~/js/Scripts/template/custom.js"></script>
    <script src="~/js/Scripts/template/owl.js"></script>
    <script src="~/js/Scripts/template/slick.js"></script>
    <script src="~/js/Scripts/template/isotope.js"></script>
    <script src="~/js/Scripts/template/accordions.js"></script>
    
    @* nav scripts *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Scripts/ProductJs/Products.js"></script>



</head>
<body>

    <div class="row">
        <header class="">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <h2>Bike <em>Stores</em></h2>
                    </a>
                    <img id="logo" src="~/images/baby-bike.png" alt="Alternate Text" />
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">
                                    Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Product" asp-action="GetAllProductView">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="About" asp-action="Index">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>


                        </ul>
                        
                        @*&ensp
                        <a asp-controller="Account" asp-action="Login"><button class="btn btn-success">Login</button></a>
                        
                        &nbsp&nbsp&nbsp
                        <a asp-controller="Account" asp-action="LogOff"><button class="btn btn-danger">Logout</button></a>*@

                    </div>
                </div>
            </nav>
        </header>
    </div>
    <br />
    <br />
    <br />
    <br />


    @RenderBody()


    <footer class="border-top footer text-muted">
        Footer
    </footer>

    @RenderSection("scripts", required: false)



</body>
</html>
