
@{
    ViewData["Title"] = "GetAllProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<form method="post" asp-action="Upload" asp-controller="Product" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="upload" />
</form>


<div class="row">
    <div class="col-md-4">
        <button class="btn btn-success">Mountain Bike</button>
        <button class="btn btn-success">Road Bike</button>
        <button class="btn btn-success">Kid Bike</button>
    </div>
</div>

<table id="mountaintable" class="table table">
    <thead class="table">
    <th>#</th>
    <th>Name</th>
    <th>CategoryId</th>
    <th>Price</th>
    <th>Details</th>
    </thead>
    <tbody id="mountaintableBody" class="table-light">
    </tbody>
</table>







<!--<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="mounth-bike" data-toggle="tab" href="#mountain" role="tab" aria-controls="mounth" aria-selected="true">Mountain Bike</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="road-bike" data-toggle="tab" href="#road" role="tab" aria-controls="road" aria-selected="false">Road Bike</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#kid" role="tab" aria-controls="kid" aria-selected="false">Kid Bike</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    @***************************************************************************************************************
    **************************************************************************************************************
    **************************************************************************************************************
    ***************************************************************************************************************@
    @*MOUNTAİN*@
    <!--<div class="tab-pane fade show active" id="mountain" role="tabpanel" aria-labelledby="mountain-tab">
        <br/><br/>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-11">-->
                @*<button id="get-mountain-bike" class="btn btn-success btn-sm">Get Mountain Bike</button>*@
                <!--<button id="table-show-hide" class="btn btn-danger btn-sm">Hide/Show</button>
                <br/><br/>
                <form class="form-inline">
                    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success " type="submit">Search</button>
                </form>

            </div>
        </div>-->
        @* Mountain Bikes *@
        <!--<div class="latest-products">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">-->
                        @*<div class="section-heading">
                                <h2>Mountain Bike</h2>
                                <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
                            </div>*@
                    <!--</div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Paginate Number</label>
                        <select id="maxRows" name="state" class="form-control">
                            <option value="5000">Show All</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                        </select>
                    </div>-->
                    @*Products table Mountain*@
                    <!--<table id="mountaintable" class="table table-borderless">
                        <thead class="table-dark">

                        <th>Name</th>
                        <th>CategoryId</th>
                        <th>Price</th>
                        <th>Details</th>
                        </thead>
                        <tbody id="mountaintableBody" class="table-light">
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>-->
    @***************************************************************************************************************
    **************************************************************************************************************
    **************************************************************************************************************
    ***************************************************************************************************************@
    @*ROAD*@
    <!--<div class="tab-pane fade" id="road" role="tabpanel" aria-labelledby="road-tab">
        <br/><br/>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-11">-->
                @*<button id="get-road-bike" class="btn btn-success btn-sm">Get Road Bike</button>*@
                <!--<button id="table-show-hide-road" class="btn btn-danger btn-sm">Hide/Show</button>
                <br/><br/>
                <form class="form-inline">
                    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success " type="submit">Search</button>
                </form>
            </div>
        </div>-->
        @* Road Bikes *@
        <!--<div class="latest-products">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"></div>
                    <div class="form-group col-md-3">
                        <label for="inputState">State</label>
                        <select id="maxRows2" name="state2" class="form-control">
                            <option value="5000">Show All</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                        </select>
                    </div>-->
                    @* Products Mountain *@
                    <!--<table id="road-table" class="table table-borderless">
                        <thead class="table-dark">
                        <th>Name</th>
                        <th>CategoryId</th>
                        <th>Price</th>
                        </thead>
                        <tbody id="roadtablebody" class="table-light"></tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination pagination-lg">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>-->
    @***************************************************************************************************************
    **************************************************************************************************************
    **************************************************************************************************************
    ***************************************************************************************************************@
    @*KİD*@
    <!--<div class="tab-pane fade" id="kid" role="tabpanel" aria-labelledby="kid-tab">
        <br/><br/>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-11">-->
                @*<button id="get-kid-bike" class="btn btn-success btn-sm">Get Kid Bike</button>*@
                <!--<button id="table-show-hide-kid" class="btn btn-danger btn-sm">Hide/Show</button>
                <br/><br/>
                <form class="form-inline">
                    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success " type="submit">Search</button>
                </form>
            </div>
        </div>-->
        @* Kid Bikes *@
        <!--<div class="latest-products">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"></div>
                    <div class="form-group col-md-3">
                        <label for="inputState">State</label>
                        <select id="maxRows3" name="state3" class="form-control">
                            <option value="5000">Show All</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                        </select>
                    </div>-->
                    @* Products Kid *@
                    <!--<table id="kid-table" class="table table-borderless">
                        <thead class=" table-dark">
                        <td>Id</td>
                        <td>Name</td>
                        <td>CategoryId</td>
                        <td>Price</td>
                        </thead>
                        <tbody id="kidtablebody" class="table-light"></tbody>
                    </table>

                    <nav aria-label="...">
                        <ul class="pagination pagination-lg">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Scripts/ProductJs/Products.js"></script>





