@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAll</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script src="~/js/Scripts/ProductJs/Products.js"></script>



</head>
<body>


<div class="container">
    <input id="GetProduct" class="btn btn-success" type="submit" value="GetProduct"/>
    <input id="Hide-Show" class="btn btn-danger" type="submit" value="Hide-Show"/>
    
    <div class="container">
        <div id="AllProduct"></div>
    </div>

</div>






</body>
</html>
